---
import NavLayout from '../layouts/NavLayout.astro';
import LinkCard from "../components/LinkCard.jsx";
---

<NavLayout title="Welcome to Astro.">
	<section>
		<LinkCard client:load />
	</section>
</NavLayout>	
