---
import NavLayout from '../layouts/NavLayout.astro';
import LinkCard from "../components/LinkCard.jsx";
---

<NavLayout title="Welcome to Astro.">
	<section>
		<div class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 lg:pt-24">
		</div>
		<LinkCard client:load />
	</section>
</NavLayout>	
